<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GetUserCoordinates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E5959941D65A5FB00E45BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E5959AD1D65A5FC00E45BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E5959B81D65A5FC00E45BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
